@media (max-width: $mobile-breakpoint) {
     .home {
        grid-template-columns: 1fr;
        margin-inline: em(16px);
        margin-bottom: em(40px);

        .most-watched {
            display: none;
        }


        .main-list {
            .ad-container {
                max-width: em(416px);
                height: auto;

            }

            .ad-container.second {
                display: none;
            }

            .preview {
                flex-direction: column;
                max-width: em(416px);
                height: em(425px);

                .preview-info {
                    width: 100%;
                    margin-bottom: em(30px);
                    order: 2;

                    .title {
                        order: 1;
                        font-size: em(20px);
                    }

                    .description {
                        margin-block: em(15px);
                        order: 2;
                        font-size: em(15px);
                    }

                    .details {
                        order: 3;
                        font-size: em(10px);
                    }
                }

                .preview-card {
                    order: 1;

                    img {
                        width: em(395px);
                        height: em(230px);
                    }

                }

            }

            .articles-list {
                grid-template-columns: 1fr;
            }
        }
    }

}