@media (max-width: $mobile-breakpoint) {

    .video {
        padding-inline: em(18px);
        padding-block: em(130px);

        .video-main {
            flex-direction: column;

            .video-preview {
                order: 1;
                height: em(410px);
                width: auto;
                margin-bottom: em(20px);

                .video-cont {
                    height: em(220px);

                    video {
                       
                        width: em(383px);
                        height: auto;
                    }
                }

                .video-info {
                    padding-block: em(9px);


                    .title {
                        order: 1;
                        font-size: em(20px);
                    }

                    .description {
                        order: 2;
                        font-size: em(12px);
                        margin-bottom: em(5px);
                    }

                    .details {
                        order: 3;
                        font-size: em(10px);

                    }
                }
            }

            .video-list {
                order: 2;
                .video-item{
                    width: em(402px);
                    .video-cont div{
                        width: em(70px);
                        height: em(25px);
                        font-size: em(12px);
                    }
                }
                
            }
        }
    }

    .footer,
    .podcast {
        display: none;
    }

}