.article {
    height: em(316px);
    width: em(265px);
    text-align: right;
    direction: rtl;
    background-color: white;
    padding: em(7px);

    .article-card {
        position: relative;

        div {
            @include lower-title;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .article-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: em(165px);

        .title {
            font-weight: 700;
            font-size: em(18px);
            color: $clr3;
        }

        .details {
            font-weight: 400;
            font-size: em(14px);
            text-align: right;
            direction: rtl;
            color: $clr4;
            gap: 3px;
        }
    }
}