.list {
    margin-inline: em(360px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: em(70px);
    .list-item {
        >div {
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 15px;
        }
    }
}