.footer {
    height: em(852px);
    width: 100%;
    background-color: $clr1;
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: 1fr em(1200px) 1fr;

    >* {
        grid-column: 2;
    }

    .upper-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-block: em(15px);
        padding: em(20px);

        .platforms {
            display: flex;
            width: em(300px);
            justify-content: space-between;

            div {
                background-color: $clr1;
                border-radius: 50%;
                height: em(32px);
                width: em(32px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .mid-footer {
        display: flex;
        justify-content: space-between;
        padding-block: em(65px);

        >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;

            p {
                color: white;
                text-align: right;
                direction: rtl;
                cursor: pointer;
            }

            .title {
                font-size: em(25px);
                font-weight: 700;
            }

            .read-more {
                cursor: pointer;
                display: flex;
                justify-content: right;
                align-items: center;


                p {
                    color: $clr10;
                    text-align: right;
                    direction: rtl;
                    margin-left: em(9px);
                }

                img {
                    height: em(10px);
                }
            }
        }
    }

    .lower-footer {
        grid-column: 1/ -1;
        display: grid;
        grid-template-columns: 1fr em(1200px) 1fr;
        background-color: $clr7;
        height: em(105px);

        >* {
            grid-column: 2;
        }


        .lower-cont {
            display: flex;
            justify-content: space-between;
            align-items: center;


            p {
                color: white;
                margin: 0;
            }

            >div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: em(20px);

                img {
                    width: em(50px);
                    height: em(31px);
                }
            }
        }

    }
}