.video {
    display: flex;
    flex-direction: column;
    background-color: $clr6;
    padding-block: em(112px);
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: 1fr em(1200px) 1fr;

    >* {
        grid-column: 2;
    }

    .category .title {
        color: white;
    }

    .video-main {
        display: flex;


        .video-cont {
            position: relative;

            div {
                @include lower-title;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $clr8;
            }
        }

        .video-info {
            display: flex;
            flex-direction: column;
            justify-content: end;

            p {
                margin: 0;
                text-align: right;
                direction: rtl;
            }

            .title {
                color: white;
                margin-bottom: em(10px);
                font-weight: 700;
            }

            .details {
                color: $clr4;
            }

            .description {
                color: white;
                font-size: em(18px);
            }
        }

        .video-list {
            display: flex;
            flex-direction: column;
            width: 100%;

            gap: em(20px);

            .video-item {
                background-color: $clr7;
                display: flex;
                width: em(590px);
                height: em(183px);
                justify-content: space-between;
                padding: 12px;
                gap: em(20px);
                align-items: center;

                .video-cont {
                    height: em(160px);

                    video {
                        height: 100%;
                        width: auto;
                    }
                }
            }


            .video-info {
                .title {
                    font-size: em(18px);
                }

                .details {
                    font-size: em(14px);
                }
            }

        }

        .video-preview {
            background-color: $clr7;
            height: em(590px);
            width: em(617px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: em(10px);

            .video-cont {
                height: em(325px);
            }

            video {

                height: 100%;
                width: auto;
            }

            .title {
                font-size: em(32px);
            }
        }
    }
}