.preview {
    display: flex;
    background-color: white;
    margin-block: em(15px);
    height: em(311px);

    padding: em(14px);
    justify-content: space-between;
    width: em(820px);

    .preview-card {

        position: relative;


        div {
            @include lower-title;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #55EBB1;
        }




    }

    .preview-info {
        display: flex;
        justify-content: space-between;
        align-items: right;
        text-align: right;
        flex-direction: column;
        width: em(311px);

        >p {
            margin: 0;
        }


        .details {
            color: $clr4;
        }

        .title {
            font-weight: 700;
            font-size: em(28px);
            color: $clr3;
        }

        .description {
            font-weight: 400;
            color: $clr3;
            font-size: em(18px);
        }
    }
}