.header {
    background-color: white;
    height: em(114px);
    display: flex;
    margin-bottom: 50px;




    >img {
        height: em(68px);
        margin: em(34px);

    }


    .header-main {
        width: em(1686px);

        .header-top {
            display: flex;
            justify-content: space-between;
            background-color: $clr1;

            height: em(57px);
            padding-inline: em(20px);

            .header-top-menu {
                width: em(960px);
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: em(18px);
                    font-weight: 400;
                }
            }

            .platforms {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: em(15px);

                div {
                    background-color: white;
                    border-radius: 50%;
                    width: em(32px);
                    height: em(32px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    img {
                        height: 15px;
                    }
                }
            }
        }

        .header-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: em(57px);
            padding-inline: em(20px);

            .header-bottom-menu {
                width: em(777px);
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    text-decoration: none;
                    font-size: em(18px);
                    font-weight: 400;
                    color: #7C7C7C;
                }
            }

            .header-input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid $clr2;
                border-radius: 50px;
                padding: 7px;
                width: em(298px);
                height: em(36px);

                input {
                    border: 0;
                    outline: 0;
                    text-align: right;
                    direction: rtl;
                }

                label {
                    color: $clr2;
                }
            }

        }

    }
}