.home {
    display: grid;
    grid-template-columns: 1fr 1px 3fr;
    margin-inline: em(360px);
    margin-bottom: em(100px);
    gap: 15px;
   

    .ad-container {
        background-color: white;
        padding: 5px; 
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .vertical-line {
        width: 1px;
        height: 100%;
        background-color: $clr5;
    }

    .most-watched {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .watched-articles {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        h3 {
            font-size: em(28px);
            text-align: right;
            margin: 0;

        }

        .ad-container {
            width: em(295px);
            height: em(370px);

        }
        .article{
            width: em(295px);
        }
    }

    .main-list {
        

        .ad-container {
            height: em(213px);
            width: em(850px);
        }


        .articles-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: em(5px);
            margin-bottom: em(15px);
        }
    }
}