@media (max-width: $mobile-breakpoint) {

    //Header
    .header {
        height: em(77px);
        padding: em(18px);
        justify-content: space-between;
        margin-bottom: em(12px);

        .img-cont {
            background-color: inherit;
            height: em(53px);
            width: em(150px);


            img {
                margin: 0;
                height: 100%;
                max-width: fit-content;
            }
        }

        .menu-cont {
            width: em(100px);
            height: em(100px);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: fit-content;
                width: em(80px);
            }

        }


        .header-main {
            position: fixed;
            top: em(77px);
            right: 0;
            height: 80vh;
            width: 100vw;
            background-color: $clr1;
            box-shadow: 0 8px 30px rgba(0, 0, 0, .2);
            transform: translateX(100%);
            transition: transform 250ms ease;
            will-change: transform;
            z-index: 1000;

            .header-bottom {
                display: none;
            }

            .header-top {
                height: 100%;
                padding: em(40px);
                display: flex;
                flex-direction: column;



                .header-top-menu {
                    display: flex;
                    justify-content: space-between;
                    width: auto;
                    height: 100%;
                    margin: em(25px);
                    flex-direction: column;
                }
            }

            &.open {
                transform: translateX(0);
            }
        }
    }

    //Homepage
    .home {
        grid-template-columns: 1fr;
        margin-inline: em(16px);
        margin-bottom: em(40px);

        .most-watched {
            display: none;
        }


        .main-list {
            .ad-container {
                max-width: em(416px);
                height: auto;

            }

            .ad-container.second {
                display: none;
            }

            .preview {
                flex-direction: column;
                max-width: em(416px);
                height: em(425px);

                .preview-info {
                    width: 100%;
                    margin-bottom: em(30px);
                    order: 2;

                    .title {
                        order: 1;
                        font-size: em(20px);
                    }

                    .description {
                        margin-block: em(15px);
                        order: 2;
                        font-size: em(15px);
                    }

                    .details {
                        order: 3;
                        font-size: em(10px);
                    }
                }

                .preview-card {
                    order: 1;

                    img {
                        width: em(395px);
                        height: em(230px);
                    }

                }

            }

            .articles-list {
                grid-template-columns: 1fr;
            }
        }
    }

    //Article
    .article {
        display: flex;
        justify-content: space-between;
        height: em(106px);
        width: em(416px);
        padding: em(12px);

        .article-info {
            height: auto;

            p {
                margin: 0;
            }

            .title {
                font-size: em(16px);
            }
        }

        .article-card {
            margin-left: em(22px);

            div {
                width: em(120px);
                height: em(30px);


                font-size: em(10px);

            }

            img {
                width: auto;
                height: 100%;
            }
        }
    }

    //category
    .category {
        div img {
            margin: 0;
        }

        .thin-line {
            display: none;
        }

        div .arrow {
            width: em(32px);
        }

        //List


    }

    .list {
        margin-inline: em(18px);

        .list-item {}

        .items {
            flex-direction: column;
        }
    }

    .video {
        padding-inline: em(9px);

        .video-main {
            flex-direction: column;

            .video-preview {
                order: 1;
                height: em(425px);
                width: auto;
                margin-bottom: em(20px);

                .video-cont {
                    height: em(220px);

                    video {
                        height: em(220px);
                        width: auto;
                    }
                }

                .video-info {
                    padding-block: em(9px);


                    .title {
                        order: 1;
                        font-size: em(20px);
                    }

                    .description {
                        order: 2;
                        font-size: em(12px);
                    }

                    .details {
                        order: 3;
                        font-size: em(10px);
                    }
                }
            }

            .video-list {
                order: 2;
            }
        }
    }

    .footer,
    .podcast {
        display: none;
    }

}