* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

@font-face {
    font-family: 'Futurism';
    src: url('../../fonts/Arimo.ttf'),

}

body {
    margin: 0 auto;
    background-color: #FBF8FF;
    font-family: 'Futurism', sans-serif;
}



img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

p{
    cursor: default;
}